@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-image: url("https://i.redd.it/4fxxbm4opjd31.jpg");
    background-size: cover;
}

#title {
    text-align: center;
    font-family: Lobster;
    margin-bottom: 1.5rem;
}

.wrapper {
    margin-top: 20rem;
}

.button {
    border-radius: 0.5rem;
}

.hero {
    background-color: rgb(255,255,255,.8)
}

@media screen and (max-width: 39.9375em) {
    #input-grid {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .button {
        font-size: 0.5rem;
    }
    
    .wrapper {
        margin-top: 10rem;
    }
}