@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    /*Background image taken from reddit from user: DougS2K*/
    background-image: url("https://i.redd.it/4fxxbm4opjd31.jpg");
    background-size: cover no-repeat;
}

#title {
    text-align: center;
    font-family: Lobster;
    margin-bottom: 1.5rem;
}

.button {
    border-radius: 0.5rem;
}

.grid-container {
    max-width: 80rem;
}

#wrapper {
    margin-top: 20rem;
    transition: 1s all ease;
}

#hero {
    background-color: rgb(255,255,255,.8);
}

#sidekick {
    margin-top: 3rem;
<<<<<<< HEAD
=======
    display: none;
    transition: 1s all ease;
>>>>>>> 47f4d9b64d03c6bef54d0c868dd01a3fb7b2c339
}

summary {
    background-color: rgb(255, 255, 255, 1);
    padding-top: 1rem;
    padding-bottom: 3rem;
}

img {
    width: 200px;
    height: 300px;
    margin-left: 1.25rem;
    border: 2px solid black;
}

#rec-info {
    text-align: center;
    font-family: Bangers;
}

@media screen and (max-width: 39.9375em) {
    #input-grid {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .button {
        font-size: 0.5rem;
    }
    
    .wrapper {
        margin-top: 10rem;
    }
}