@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  /*Background image taken from reddit from user: DougS2K*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.redd.it/4fxxbm4opjd31.jpg");
  background-size: cover no-repeat;
  overflow-x: hidden;
}

#title {
  text-align: center;
  font-family: Lobster;
  margin-bottom: 1.5rem;
}

.button {
  border-radius: 0.5rem;
}

.grid-container {
  max-width: 80rem;
}

#wrapper {
  margin-top: 20vh;
  transition: 1s all ease;
}

#hero {
  background-color: rgb(255, 255, 255, 0.8);
}

#sidekick {
  margin-top: 3rem;
  display: none;
  transition: 1s all ease;
}

summary {
  background-color: rgb(255, 255, 255, 1);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

img {
  width: 200px;
  height: 300px;
  margin-left: 1.25rem;
  border: 2px solid black;
}

#rec-info,
#modal-title {
  text-align: center;
  font-family: Bangers;
}

#modal-list {
    list-style: none;
}

#current-movie,
#rec-movies {
  text-align: center;
}

li {
    font-weight: bold;
    margin-bottom: 1rem;
}

#modal-title {
    margin-bottom: 1rem;
}

#modal-plot {
    margin-top: 1rem;
}

#movie-modal {
    font-family: Acme;
}

@media screen and (max-width: 1250px) {
  img {
    width: 150px;
    height: 225px;
  }

  #rec-info {
    font-size: 2rem;
  }
}

@media screen and (max-width: 980px) {
  img {
    width: 100px;
    height: 150px;
  }

  #rec-info {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 705px) {
  img {
    width: 50px;
    height: 75px;
  }

  #rec-info {
    font-size: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  #input-grid {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .button {
    font-size: 0.5rem;
  }

  .wrapper {
    margin-top: 10rem;
  }
}
